@import "../../node_modules/silc-core/src/scss/index";
@import "variables";

/* ==========================================================================
   Grid container
   ========================================================================== */

.#{$silc-grid--namespace}grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -#{$silc-grid--gutter};

  /* Grid container modifiers
   ========================================================================== */

  &--no-gutters {
    margin-left: 0;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-right {
    justify-content: flex-end;
  }

  &--justify-left {
    justify-content: flex-start;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--align-top {
    align-items: flex-start;
  }

  &--align-bottom {
    align-items: flex-end;
  }

  &--align-center {
    align-items: center;
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  @each $breakpoint-name, $breakpoint-width in $silc-core--breakpoints {
    @include media(#{$breakpoint-name}) {
      &--justify-left-#{$breakpoint-name} {
        justify-content: flex-start;
      }

      &--justify-right-#{$breakpoint-name} {
        justify-content: flex-end;
      }

      &--justify-center-#{$breakpoint-name} {
        justify-content: center;
      }

      &--justify-between-#{$breakpoint-name} {
        justify-content: space-between;
      }

      &--align-top-#{$breakpoint-name} {
        align-items: flex-start;
      }

      &--align-bottom-#{$breakpoint-name} {
        align-items: flex-end;
      }

      &--align-center-#{$breakpoint-name} {
        align-items: center;
      }

      &--reverse-#{$breakpoint-name} {
        flex-direction: row-reverse;
      }
    }
  }
}

/* Grid columns
   ========================================================================== */

.#{$silc-grid--namespace}grid__col {
  flex: 0 1 auto; // Ensures IE10 gets correct default
  width: 100%;
  box-sizing: border-box;
  padding-left: $silc-grid--gutter;
  margin-top: $silc-grid--margin-top;
  margin-bottom: $silc-grid--margin-bottom;

  .#{$silc-grid--namespace}grid--no-gutters > & {
    padding-left: 0;
  }

  .#{$silc-grid--namespace}grid--collapse > & {
    margin-bottom: 0;
  }

  &--auto {
    width: auto;
  }

  @for $x from 1 to $silc-grid--columns + 1 {
    &--#{$x} {
      width: 100% / $silc-grid--columns * $x;
    }
  }

  @each $breakpoint-name, $breakpoint-width in $silc-core--breakpoints {
    @include media(#{$breakpoint-name}) {
      &--auto-#{$breakpoint-name} {
        width: auto;
      }

      @for $x from 1 to $silc-grid--columns + 1 {
        &--#{$x}-#{$breakpoint-name} {
          width: 100% / $silc-grid--columns * $x;
        }
      }
    }
  }
}
