@import "../../node_modules/silc-core/src/scss/index";
@import "variables";

/* ==========================================================================
   Grid container
   ========================================================================== */

.silc-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -#{$silc-grid--gutter};
}

/* Grid container modifiers
   ========================================================================== */

.silc-grid--no-gutters {
    margin-left: 0;
}

.silc-grid--with-gutters {
    margin-left: $silc-grid--gutter;
}

.silc-grid--justify-center {
    justify-content: center;
}

.silc-grid--justify-right {
    justify-content: flex-end;
}

.silc-grid--justify-left {
    justify-content: flex-start;
}

.silc-grid--justify-between {
    justify-content: space-between;
}

.silc-grid--align-top {
    align-items: flex-start;
}

.silc-grid--align-bottom {
    align-items: flex-end;
}

.silc-grid--align-center {
    align-items: center;
}

.silc-grid--reverse {
    flex-direction: row-reverse;
}

@each $breakpoint-name, $breakpoint-width in $silc-core--breakpoints {

    @include media(#{$breakpoint-name}) {

        .silc-grid--justify-left-#{$breakpoint-name} {
            justify-content: flex-start;
        }

        .silc-grid--justify-right-#{$breakpoint-name} {
            justify-content: flex-end;
        }

        .silc-grid--justify-center-#{$breakpoint-name} {
            justify-content: center;
        }

        .silc-grid--justify-between-#{$breakpoint-name} {
            justify-content: space-between;
        }

        .silc-grid--align-top-#{$breakpoint-name} {
            align-items: flex-start;
        }

        .silc-grid--align-bottom-#{$breakpoint-name} {
            align-items: flex-end;
        }

        .silc-grid--align-center-#{$breakpoint-name} {
            align-items: center;
        }

        .silc-grid--reverse-#{$breakpoint-name} {
            flex-direction: row-reverse;
        }

    }

}

/* Grid columns
   ========================================================================== */

.silc-grid__col {
    flex: 0 1 auto; // Ensures IE10 gets correct default
    width: 100%;
    box-sizing: border-box;
    padding-left: $silc-grid--gutter;
    margin-top: $silc-grid--margin-top;
    margin-bottom: $silc-grid--margin-bottom;

    &--auto {
        width: auto;
    }

    .silc-grid--no-gutters & {
        padding-left: 0;
    }
    
    .silc-grid--with-gutters & {
        padding-left: $silc-grid--gutter;
    }

    .silc-grid--collapse & {
        margin-bottom: 0;
    }

    @for $x from 1 to $silc-grid--columns + 1 {
        
        &--#{$x} {
            width: 100% / $silc-grid--columns * $x;
        }

        &--auto {
            width: auto;
        }

    }
}
    
@each $breakpoint-name, $breakpoint-width in $silc-core--breakpoints {
    
    @include media(#{$breakpoint-name}) {
        
        @for $x from 1 to $silc-grid--columns + 1 {

            .silc-grid__col--#{$x}-#{$breakpoint-name} {
                width: 100% / $silc-grid--columns * $x;
            }

            .silc-grid__col--auto-#{$breakpoint-name} {
                width: auto;
            }

        }
    }
}
