@import "../../node_modules/silk-core/src/scss/index";
@import "variables";

/* ==========================================================================
   Grid container
   ========================================================================== */

.silk-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -#{$silk-grid--gutter};
}

/* Grid container modifiers
   ========================================================================== */

.silk-grid--no-gutters {
    margin-left: 0;
}

.silk-grid--justify-center {
    justify-content: center;
}

.silk-grid--justify-right {
    justify-content: flex-end;
}

.silk-grid--justify-left {
    justify-content: flex-start;
}

.silk-grid--align-top {
    align-items: flex-start;
}

.silk-grid--align-bottom {
    align-items: flex-end;
}

.silk-grid--align-center {
    align-items: center;
}

.silk-grid--reverse {
    flex-direction: row-reverse;
}

@for $i from 1 to length($silk-core--breakpoints) + 1 {

    @include media(nth(nth($silk-core--breakpoints, $i), 1)) {

        .silk-grid--justify-left-#{nth(nth($silk-core--breakpoints, $i), 1)} {
            justify-content: flex-start;
        }

        .silk-grid--justify-right-#{nth(nth($silk-core--breakpoints, $i), 1)} {
            justify-content: flex-end;
        }

        .silk-grid--justify-center-#{nth(nth($silk-core--breakpoints, $i), 1)} {
            justify-content: center;
        }

        .silk-grid--align-top-#{nth(nth($silk-core--breakpoints, $i), 1)} {
            align-items: flex-start;
        }

        .silk-grid--align-bottom-#{nth(nth($silk-core--breakpoints, $i), 1)} {
            align-items: flex-end;
        }

        .silk-grid--align-center-#{nth(nth($silk-core--breakpoints, $i), 1)} {
            align-items: center;
        }

        .silk-grid--reverse-#{nth(nth($silk-core--breakpoints, $i), 1)} {
            flex-direction: row-reverse;
        }

    }

}

/* Grid columns
   ========================================================================== */

.silk-grid__col {
    flex: 0 1 auto; // Ensures IE10 gets correct default
    width: 100%;
    box-sizing: border-box;
    padding-left: $silk-grid--gutter;
    margin-top: $silk-grid--margin-top;
    margin-bottom: $silk-grid--margin-bottom; 

    .silk-grid--no-gutters & {
        padding-left: 0;
    }
}
    
@for $i from 1 to length($silk-core--breakpoints) + 1 {
    
    @include media(nth(nth($silk-core--breakpoints, $i), 1)) {
        
        @for $x from 1 to $silk-grid--columns {

            .silk-grid__col--#{nth(nth($silk-core--breakpoints, $i), 1)}-#{$x} {
                width: 100% / $silk-grid--columns * $x;
            }

        }
    }
}
